# Hugo
public/
resources/_gen/
.hugo_build.lock

# macOS
.DS_Store

# Obsidian
.obsidian/workspace
.obsidian/workspace.json
.trash/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~
