numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
tensorflow
torch
keras
flask
django
requests
beautifulsoup4
lxml
pytest
jupyter
notebook
ipython
pillow
opencv-python
nltk
spacy
gensim
xgboost
lightgbm
catboost
pyyaml
h5py
tqdm
sqlalchemy
pyodbc
psycopg2
redis
celery
gunicorn
gevent
boto3
paramiko
plotly
dash
sympy
pytorch
pygobject
pytest
sphinx
pytest-cov
mock
mypy
black
isort
flake8
pylint
tox
twine
setuptools
wheel